<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
</head>
<body>
<form action="#" th:action="@{/products}" th:object="${product}" method="post"></form>
    <h1 th:text="products"></h1>
<!--<a href="/products">Add Product</a>-->
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Image</th>
        <th>Quantity</th>
        <th>Actions</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td> <img th:src="${product.img}" alt="${product.name}"> </td>
        <td th:text="${product.quantity}"></td>
        <td>
            <a th:href="@{'/products/edit/' + ${product.id}}">Edit</a> |
            <a th:href="@{'/products/delete/' + ${product.id}}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>