<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>E-Commerce</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
</head>
<body>

<div class="m-3 d-flex justify-content-center">
    <h1>E-Commerce</h1>
</div>

<div class="container mt-4">
    <div th:with="productDTO=${productDTO}, fields=${#fields}, hasErrors=${hasErrors}">
        <div th:replace="~{fragments/modalForms :: addProductModal(productDTO=${productDTO}, fields=${fields}, hasErrors=${hasErrors})}"></div>
    </div>
    <div th:replace="~{fragments/modalForms :: editProductModal}"></div>

    <table class="table table-striped">
        <div class="d-flex justify-content-between">
            <h1>Manage Products</h1>
            <div>
                <button type="button" class="btn btn-danger" th:onclick="'deleteSelectedProducts()'">Delete</button>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addProductModal">
                    Add New Product
                </button>
            </div>
        </div>
        <thead>
        <tr>
            <th>
                <label for="selectAll" class="visually-hidden">Select All</label>
                <input type="checkbox" id="selectAll" onclick="toggleAllCheckboxes(this.checked);"/>
            </th>
            <th>Name</th>
            <th>Price</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}" th:id="${product.id}">
            <td>
                <label th:for="'checkbox_' + ${product.id}" class="visually-hidden">Select product</label>
                <input type="checkbox" th:id="'checkbox_' + ${product.id}" th:value="${product.id}"
                       class="form-check-input"/>
            </td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td><img th:src="${product.imageUrl}" th:alt="${product.name}"
                     style="width: 100px; height: 100px; object-fit: cover;"></td>
            <td>
                <button type="button" class="btn btn-danger" th:onclick="'deleteProductById(' + ${product.id} + ')'">
                    <i class="fa-solid fa-trash"></i>
                </button>
                <button type="button" class="btn btn-primary" th:onclick="'editProduct(' + ${product.id} + ')'">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Product pagination" class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a class="page-link" th:href="@{|/?page=${currentPage > 1 ? currentPage - 1 : 1}|}">Previous</a>
            </li>

            <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}"
                th:classappend="${i == currentPage} ? 'active'">
                <a class="page-link" th:href="@{|/?page=${i}|}" th:text="${i}">1</a>
            </li>

            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a class="page-link" th:href="@{|/?page=${currentPage < totalPages ? currentPage + 1 : totalPages}|}">Next</a>
            </li>
        </ul>
    </nav>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
<script th:src="@{/js/index.js}"></script>
<script th:if="${fields != null and fields.hasErrors('*')}" th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {
        new bootstrap.Modal(document.getElementById('addProductModal')).show();
    });
</script>
</body>

</html>