<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products table</title>
    <script src="https://kit.fontawesome.com/20fda53ba3.js" crossorigin="anonymous"></script>
</head>
<body>
<section>
    <h1>PRODUCT LIST</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>PRICE</th>
            <th>IMAGE</th>
            <th>ACTIONS</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td>
                <img th:src="${product.imageUrl}" alt="Immagine prodotto" width="100">
            </td>
            <td>
<!--                <button th:onclick="deleteProduct(${product.id})">-->
                <button th:onclick="'deleteProduct(' + ${product.id} + ')'">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </td>

        </tr>
        </tbody>
    </table>
</section>
<section>
    <h2>Add Product</h2>
    <form id="addProductForm">
        <label for="name">Product</label>
        <input type="text" id="name" name="name">
        <label for="price">Price</label>
        <input type="number" id="price" name="price" step="0.01">
        <label for="imageUrl">ImageUrl</label>
        <input type="url" id="imageUrl" name="imageUrl">
        <button type="submit">Add Product</button>
    </form>
</section>
<section>
    <h2>Update Product</h2>
    <form id="updateProductForm">
        <label for="id">ID</label>
        <input type="text" id="id" name="id">
        <label for="updateName">Product</label>
        <input type="text" id="updateName" name="name">
        <label for="updatePrice">Price</label>
        <input type="number" id="updatePrice" name="price" step="0.01">
        <label for="updateImageUrl">ImageUrl</label>
        <input type="url" id="updateImageUrl" name="imageUrl">
        <button type="submit">Update Product</button>
    </form>
</section>
<script>
    document.getElementById("addProductForm").addEventListener("submit", function (event) {
        event.preventDefault();
        const form = event.target;
        const formData = new FormData(form);
        const formObject = {};
        formData.forEach((value, key) => {
            formObject[key] = value
        })
        const json = JSON.stringify(formObject)
        console.log(json)
        addProduct(json)
    })

    async function addProduct(json) {
        try {
            await fetch("http://localhost:8080/products", {
                method: "POST",
                body: json,
                headers: {
                    "Content-Type": "application/json",
                },
            }).then((response) => {
                if (!response.ok) {
                    alert("Adding failed");
                    throw Error("fetch failed")
                }
                alert("Adding successful")
            })
        } catch (error) {
            console.log(error.message)
        } finally {
            window.location.reload()
        }
    }

    document.getElementById("updateProductForm").addEventListener("submit", function (event) {
        event.preventDefault();
        const form = event.target;
        const formData = new FormData(form);
        const formObject = {};
        formData.forEach((value, key) => {
            formObject[key] = value
        })
        const json = JSON.stringify(formObject)
        console.log(json)
        updateProduct(json)
    })

    async function updateProduct(json) {
        try {
            await fetch("http://localhost:8080/products", {
                method: "PUT",
                body: json,
                headers: {
                    "Content-Type": "application/json",
                },
            }).then((response) => {
                if (!response.ok) {
                    alert("Update failed");
                    throw Error("fetch failed")
                }
                alert("Update successful")
            })
        } catch (error) {
            console.log(error.message)
        } finally {
            window.location.reload()
        }
    }

    async function deleteProduct(id) {
        debugger;
        try {
            await fetch(`http://localhost:8080/products/${id}`, {
                method: "DELETE",
            }).then((response) => {
                if (!response.ok) {
                    alert("Delete failed");
                    throw Error("Delete failed")
                }
                alert("Delete successful")
            })
        } catch (error) {
            console.log(error.message)
        } finally {
            window.location.reload()
        }
    }
</script>
</body>
</html>
